In [5]:
import numpy as np
import pandas as pd
data = pd.read_csv('url_spam_classification.csv')
data
type(data)

pandas.core.frame.DataFrame

In [11]:
data.head(10)

                                                 url  is_spam
0  https://briefingday.us8.list-manage.com/unsubs...     True
1                             https://www.hvper.com/     True
2                 https://briefingday.com/m/v4n3i4f3     True
3   https://briefingday.com/n/20200618/m#commentform    False
4                        https://briefingday.com/fan     True
5  https://www.brookings.edu/interactives/reopeni...    False
6  https://www.reuters.com/investigates/special-r...    False
7  https://www.theatlantic.com/magazine/archive/2...    False
8  https://www.vox.com/2020/6/17/21294680/john-bo...    False
9  https://www.theguardian.com/travel/2020/jun/18...    False

In [12]:
data.shape

(148303, 2)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148303 entries, 0 to 148302
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   url      148303 non-null  object
 1   is_spam  148303 non-null  bool
dtypes: bool(1), object(1)
memory usage: 1.3+ MB

In [42]:
data.isnull().max()

url        False
is_spam    False
dtype: bool

In [24]:
data.isna()

          url  is_spam
0       False    False
1       False    False
2       False    False
3       False    False
4       False    False
...       ...      ...
148298  False    False
148299  False    False
148300  False    False
148301  False    False
148302  False    False

[148303 rows x 2 columns]

In [37]:
data.isnull().values.any().sum()

0

In [39]:
data.isnull().values.any().sum().min()

0

In [40]:
data.isnull().values.any().sum().max()

0